body {
  font-family: Arial, sans-serif;
  background-color: #1a1919;
  margin: 0;
  padding: 0;
}
h1 {
  color: #f9f9f9;
  text-align: center;
  margin-top: 20%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
